/* Stylesheet */

#container {
  width: 400px;
  margin: 0 auto;
  background-color: #bfbfbf;
  padding: 15px;
  text-align: center;
  font-family: "Roboto";
}

#menuHeader,
#gameHeader {
  font-family: "Permanent Marker";
  margin-bottom: 18px;
}

#numSelect {
  font-size: 18px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 7px;
  width: 15%;
}

#startBtn {
  width: 55%;
  text-transform: uppercase;
  padding: 10px 0;
}

#timerDisplay {
  font-size: 20px;
  font-weight: bold;
}

#sumDisplay {
  margin: 0 auto 12px;
}

#sumDisplay h1 {
  display: inline;
  padding-right: 20px;
  font-size: 3rem;
  font-weight: 900;
}

#userAnswerTextBox {
  width: 22%;
  padding: 0;
  background-color: #bfbfbf;
  border: none;
  font-size: 3rem;
  font-weight: 800;
  text-align: start;
}

#userAnswerTextBox:focus {
  outline: none;
  background-color: #bfbfbf;
}

#btn {
  margin: 15px 0;
  width: 30%;
}

#result {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  width: 70%;
  margin: 10px auto 20px;
  border-radius: 20px;
}

.score-attempts {
  display: inline;
}

.updated-score-attempts {
  font-weight: bold;
}

.remaining-time {
  position: relative;
  top: 4px;
  font-size: 1.5em;
}
